version: "3.9"

services:
  notification-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - RABBITMQ_URL=amqp://opsmind:opsmind@opsmind-rabbitmq:5672
    networks:
      - opsmind-net
    restart: unless-stopped

networks:
  opsmind-net:
    external: true
